.footer {
    background-color: $thirdColor;
    h4 {
    font: 400 1.5rem $bodyFont;
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.developer {
    padding: 0 20px;
    text-align: center;
    p {
        font: 400 1rem $styleFont;
    }
    a i{
        font-size: 1.5rem;
        padding: 0 10px;
        color: $firstColor;
    }
    a i:hover,
    a i:focus {
        color: $secondColor;
    }
}
