.footer {
    background-color: $thirdColor;
    h4 {
    font: 400 2rem $bodyFont;
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.developer {
    padding: 0 40px;
    text-align: center;
    p {
        font: 400 1rem $styleFont;
    }
}
