/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .mealList {
    width: calc(100% / 3 - 20px);
  }
  .signOut {
    width: 70px;
    font-size: 10px;
    line-height: 12px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .mealList {
    width: calc(100% / 2 - 20px);
  }
  .flexGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .dashboardInfo {
      margin: 10px 0;
    }
  }
  .signOut {
    position: absolute;
    top: 20px;
  }

  .partyEntry h1 {
    width: 100%;
    margin: 20px auto;
    padding: 100px 0px 30px 0px;
  }

  .recipeTitle {
    font-size: 60px;
    width: 70%;
    margin: 0 auto;
    padding-top: 140px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .mealList {
    width: calc(100% / 1 - 20px);
  }
  .dashboardInfo {
    width: 300px;
    height: 400px;
  }

  .recipeTitle {
    font-size: 40px;
    padding-left: 0px;
  }
}
