.createParty {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 100%;
      background-color: $firstColor;
      border: none;
      // transition: all .5s;
    }
  }
}

.partyContainer {
  margin: 50px; 
  border: 1px solid black;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
}

.removeButton:hover {
  animation: removePulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff, 0);
}

.partyPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $secondColor;
  width: 150px;
  height: 150px;
  // margin: 0 15px;
  border: 2px solid $secondColor;
  color: black;
  font: 400 2rem $bodyFont;
  button {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: pink;
  }
}
.partyPost:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $secondColor;
  }
}

@keyframes removePulse {
  0% {
    box-shadow: 0 0 0 0 $firstColor;
  }
}

.partyNameContent {
  font: 400 1.4rem $bodyFont;
}
.partyForm {
  width: 400px;
  max-height: 400px;
  padding: 20px 0px;
  margin: 0 auto;
}
.btnSubmit,
.refBtn {
  margin: 10px 0;
  background: none;
  color: $secondColor;
  border: 1px solid black;
  cursor: pointer;
  font-family: $styleFont;
  color: $secondColor;
}

// Party Invites Component
.flexGrid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
select {
  display: block;
}

.dashboardInfo {
  width: 400px;
  height: 500px;
  padding: 40px 0;
  margin: 0 auto;
  border: 2px solid $firstColor;
  //   box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}

.guestTitle {
  font-family: $styleFont;
}

.partyName {
  font-size: 80px;
  text-shadow: -4px 3px 0 $secondColor;
}

.dashboardInfo,
.listOfGuests,
.listOfIngredients {
  border: 2px $secondColor solid;
  text-align: center;
}

.ingredientBtn {
  background: $firstColor;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  border: 2px $secondColor solid;
  font-family: $styleFont;
  font-size: 20px;
}

.guestAttending {
  border: solid 3px pink;
  border-radius: 8px;
  width: 90%;
  align-self: center;
  margin: 0 auto;
  margin-bottom: 10px;
  // background: repeating-linear-gradient(
  //   -55deg,
  //   $firstColor,
  //   $firstColor 10px,
  //   white 10px,
  //   white 20px
  // );
}

.guestName {
  font-size: 30px;
  font-family: $styleFont;
  //   text-decoration: underline;
  text-shadow: -4px 3px 0 $thirdColor;
}

.ingredientBtnList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
