.recipeBackground {
  overflow: none;
  position: relative;
  width: 100%;
  min-height: 50vh;
  align-items: flex-start;
}

.recipeImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.recipeTitle {
  font-family: $styleFont;
  font-size: 100px;
  color: #ffffff;
  align-items: left;
  justify-content: flex-end;
  padding-left: 20px;
  text-shadow: -4px 4px 0 #3d393e, -6px 7px 0 #000000;
  position: relative;
  margin: 0;
}
