.recipes {
  text-align: center;
}

.recipeName {
  font-family: $styleFont;
  text-decoration: underline;
}

.ingredientList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredientItem {
  list-style: circle;
  font-size: 25px;
}

.recipeText {
  font-size: 25px;
}

.recipeBtn {
  @include buttonAll;
  color: black;
  margin: 5px auto;
  width: 80%;
  text-align: center;
}
.recipeBtn:hover, 
.recipeBtn:focus {
    color: black;
}

.recipeBtn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: $firstColor;
    border-radius: 50% 50% 0 0;
    height: 0%;
    transition: all 0.5s;
}

.recipeBtn:hover:before {
    height: 210%;
}
