.searchTitle {
  font-family: $styleFont;
}

.searchLabel {
  position: relative;
}
input[type="text"] {
  font-family: $bodyFont;
  // color: $secondColor;
}

.searchIcon {
  position: absolute;
  right: 20px;
  font-size: 30px;
  color: $secondColor;
}

.mealImg {
  width: 100%;
  //   border: solid 1px black;
}

.mealTitle {
  font-size: 30px;
  text-transform: capitalize;
}

.mealContent {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mealList {
  width: calc(100% / 4 - 20px);
  margin: 0 10px 20px;
  border: 1px solid #6f7074;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $secondColor;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.mealList:hover {
  box-shadow: 0px 2px 25px 6px rgba(0, 0, 0, 0.57);
  transform: scale(1.02);
}

.containerRecipes {
  margin: 300px auto 0 auto;
}
