$firstColor: #00F6FF;
$secondColor: #FF94AC;
$thirdColor: #FFFD71;
$bodyFont: 'Montserrat', sans-serif;
$styleFont: 'Maitree', serif;

@import url('https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap');