@import url("https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "Maitree", serif;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.headerText {
  width: 300px;
  height: 300px;
  border: 10px solid #00f6ff;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
}

.heroContainer {
  background-color: #fffd71;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inner {
  padding: 3rem;
  background-color: #00f6ff;
  border-radius: 10px;
  width: 840px;
  height: 560px;
  cursor: pointer;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  -webkit-animation: polygons 6s alternate infinite;
  animation: polygons 6s alternate infinite;
}

@-webkit-keyframes polygons {
  25% {
    -webkit-clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    background: url("./../../assets/Souffle-Pancake.jpg");
    background-size: cover;
  }
  50% {
    -webkit-clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    background: url("./../../assets/burger.jpg");
    background-size: cover;
  }
  75% {
    -webkit-clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    background: url("./../../assets/dessert.jpg");
    background-size: cover;
  }
}

@keyframes polygons {
  25% {
    -webkit-clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    background: url("./../../assets/Souffle-Pancake.jpg");
    background-size: cover;
  }
  50% {
    -webkit-clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    background: url("./../../assets/burger.jpg");
    background-size: cover;
  }
  75% {
    -webkit-clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    background: url("./../../assets/dessert.jpg");
    background-size: cover;
  }
}

.btn {
  width: 100%;
  margin: 10px 0;
  background: none;
  color: #ff94ac;
  border: 1px solid black;
  cursor: pointer;
  font-family: "Maitree", serif;
  color: #ff94ac;
}

.btn:hover .btn:focus {
  color: black;
}

h4 {
  text-align: center;
  font: 600 2rem "Montserrat", sans-serif;
}

p {
  text-align: center;
}

.authenication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.formContainer {
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
}

.icon {
  width: 20%;
  margin: 0 auto;
}

.wrapperBtn {
  margin: 0 auto;
  text-align: center;
}

.signUpBtn,
.signInBtn {
  background: none;
  color: #ff94ac;
  border: 1px solid black;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Maitree", serif;
  padding: 10px 20px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.signInBtn {
  width: 100%;
  margin: 5px 0;
}

.signUpBtn:hover,
.signInBtn:hover,
.signUpBtn:focus,
.signInBtn:focus {
  color: white;
}

.signUpBtn:before,
.signInBtn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #ff94ac;
  border-radius: 50% 50% 0 0;
  height: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.signUpBtn:hover:before,
.signInBtn:hover:before {
  height: 210%;
}

.searchLabel {
  position: relative;
}

input[type="text"] {
  font-family: "Montserrat", sans-serif;
}

.createParty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partyPost {
  width: 150px;
  height: 150px;
  margin: 0 15px;
  padding: 0 20px;
  border: 2px solid #ff94ac;
  color: black;
  font: 400 2rem "Montserrat", sans-serif;
}

.partyPost button {
  font-size: 1.5rem;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.searchIcon {
  position: absolute;
  right: 20px;
  font-size: 30px;
  color: #ff94ac;
}

.mealImg {
  width: 100%;
}

.mealTitle {
  font-size: 30px;
  text-transform: capitalize;
}

.mealContent {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mealList {
  width: calc(100% / 4 - 20px);
  margin: 0 10px 20px;
  border: 1px solid #6f7074;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #ff94ac;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mealList:hover {
  -webkit-box-shadow: 0px 2px 25px 6px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 2px 25px 6px rgba(0, 0, 0, 0.57);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.partyForm,
.refForm {
  width: 400px;
  height: 200px;
  margin: 0 auto;
}

.btnSubmit,
.refBtn {
  margin: 10px 0;
  background: none;
  color: #ff94ac;
  border: 1px solid black;
  cursor: pointer;
  font-family: "Maitree", serif;
  color: #ff94ac;
}

.footer {
  background-color: #fffd71;
  font: 400 2rem "Montserrat", sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.developer {
  padding: 0 40px;
  font: 400 1.5rem "Maitree", serif;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=App.css.map */
