@import "./sass/setup.scss";
@import "./sass/variablesMixin.scss";
@import "./sass/homePage.scss";
@import "./sass/authenication.scss";
@import "./sass/party.scss";
@import "./sass/footer.scss";
@import "./sass/search.scss";
@import "./sass/recipeheader.scss";
@import "./sass/mediaQuery";
@import "./sass/recipedetails.scss";

img {
  display: block;
  width: 100%;
}

h2 {
  font-family: $styleFont;
  text-align: center;
}

p {
  font-family: $bodyFont;
}

body {
  font-family: $bodyFont;
}


.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.signOut {
  max-width: 150px;
  height: 50px;
  position: absolute;
  right: 50px;
  top: 20px;
  background-color: $secondColor;
  border-radius: 15px;
  color: black;
  z-index: 10;
  top: 5px;
}

