@import url("https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "Maitree", serif;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.headerText {
  width: 300px;
  height: 300px;
  border: 10px solid #00F6FF;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
}

.heroContainer {
  background-color: #FFFD71;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner {
  padding: 3rem;
  background-color: #00F6FF;
  border-radius: 10px;
  width: 840px;
  height: 560px;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  -webkit-animation: polygons 6s alternate infinite;
          animation: polygons 6s alternate infinite;
}

@-webkit-keyframes polygons {
  25% {
    -webkit-clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
            clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    background: url("./../../assets/Souffle-Pancake.jpg");
    background-size: cover;
  }
  50% {
    -webkit-clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
            clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    background: url("./../../assets/burger.jpg");
    background-size: cover;
  }
  75% {
    -webkit-clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
            clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    background: url("./../../assets/dessert.jpg");
    background-size: cover;
  }
}

@keyframes polygons {
  25% {
    -webkit-clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
            clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    background: url("./../../assets/Souffle-Pancake.jpg");
    background-size: cover;
  }
  50% {
    -webkit-clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
            clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    background: url("./../../assets/burger.jpg");
    background-size: cover;
  }
  75% {
    -webkit-clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
            clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    background: url("./../../assets/dessert.jpg");
    background-size: cover;
  }
}

.btn {
  width: 100%;
  margin: 10px 0;
  background: none;
  color: #FF94AC;
  border: 1px solid black;
  cursor: pointer;
  font-family: "Maitree", serif;
  color: #FF94AC;
}

.btn:hover .btn:focus {
  color: black;
}

.infoSection {
  font: 400 3rem "Maitree", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.infoSection h2 {
  text-decoration: underline;
}

.infoSection p {
  font: 400 1.5rem "Montserrat", sans-serif;
  text-align: center;
}

.steps {
  width: 80%;
  margin: 0 auto;
}

h4 {
  text-align: center;
  font: 600 2rem "Montserrat", sans-serif;
}

p {
  text-align: center;
}

.authenication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formContainer {
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
}

.icon {
  width: 20%;
  margin: 0 auto;
}

.wrapperBtn {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signUpBtn,
.signInBtn {
  background: none;
  color: #FF94AC;
  border: 1px solid black;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Maitree", serif;
  padding: 10px 20px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin: 5px auto;
}

.signUpBtn:hover,
.signInBtn:hover,
.signUpBtn:focus,
.signInBtn:focus {
  color: white;
}

.signUpBtn:before,
.signInBtn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #FF94AC;
  border-radius: 50% 50% 0 0;
  height: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.signUpBtn:hover:before,
.signInBtn:hover:before {
  height: 210%;
}

.signOut {
  margin: 0 auto;
}

.createParty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partyPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  margin: 0 15px;
  border: 2px solid #FF94AC;
  color: black;
  font: 400 2rem "Montserrat", sans-serif;
}

.partyPost button {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: pink;
}

.partyPost:hover {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #FF94AC;
            box-shadow: 0 0 0 0 #FF94AC;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #FF94AC;
            box-shadow: 0 0 0 0 #FF94AC;
  }
}

.partyNameContent {
  font: 400 1.4rem "Montserrat", sans-serif;
}

.partyForm {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.btnSubmit,
.refBtn {
  margin: 10px 0;
  background: none;
  color: #FF94AC;
  border: 1px solid black;
  cursor: pointer;
  font-family: "Maitree", serif;
  color: #FF94AC;
}

.flexGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

select {
  display: block;
}

.dashboardInfo {
  width: 400px;
  height: 500px;
  padding: 40px 20px;
  margin: 0 auto;
  border: 2px solid #FF94AC;
  border-radius: 8px;
}

.dashboardInfo h2 {
  font: 400 2.5rem "Maitree", serif;
  margin: 0 auto;
  text-align: center;
}

.guestTitle {
  font-family: "Maitree", serif;
}

.partyName {
  font-size: 80px;
  text-shadow: -4px 3px 0 #FF94AC;
}

.ingredientBtn {
  background: #00F6FF;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  border: 2px #FF94AC solid;
  font-family: "Maitree", serif;
  font-size: 20px;
}

.guestAttending {
  border: solid 3px pink;
  border-radius: 8px;
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.guestName {
  font-size: 30px;
  font-family: "Maitree", serif;
  text-shadow: -4px 3px 0 #FFFD71;
}

.ingredientBtnList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #FFFD71;
}

.footer h4 {
  font: 400 2rem "Montserrat", sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.developer {
  padding: 0 40px;
  text-align: center;
}

.developer p {
  font: 400 1.2rem "Maitree", serif;
}

.developer a i {
  font-size: 2rem;
  padding: 0 10px;
  color: #00F6FF;
}

.developer a i:hover,
.developer a i:focus {
  color: #FF94AC;
}

.searchTitle {
  font-family: "Maitree", serif;
}

.searchLabel {
  position: relative;
}

input[type="text"] {
  font-family: "Montserrat", sans-serif;
}

.searchIcon {
  position: absolute;
  right: 20px;
  font-size: 30px;
  color: #FF94AC;
}

.mealImg {
  width: 100%;
}

.mealTitle {
  font-size: 30px;
  text-transform: capitalize;
}

.mealContent {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mealList {
  width: calc(100% / 4 - 20px);
  margin: 0 10px 20px;
  border: 1px solid #6f7074;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FF94AC;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mealList:hover {
  -webkit-box-shadow: 0px 2px 25px 6px rgba(0, 0, 0, 0.57);
          box-shadow: 0px 2px 25px 6px rgba(0, 0, 0, 0.57);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.containerRecipes {
  margin: 300px auto 0 auto;
}

.recipeBackground {
  overflow: none;
  position: relative;
  width: 100%;
  min-height: 50vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.recipeImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipeTitle {
  font-family: "Maitree", serif;
  font-size: 100px;
  color: #ffffff;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 20px;
  text-shadow: -4px 4px 0 #FF94AC, -6px 7px 0 #000000;
  position: relative;
  margin: 0;
}

.recipes {
  text-align: center;
}

.recipeName {
  font-family: "Maitree", serif;
}

.ingredientList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ingredientItem {
  list-style: circle;
  font-size: 25px;
}

.recipeText {
  font-size: 25px;
}

.recipeBtn {
  background: none;
  color: #FF94AC;
  border: 1px solid black;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Maitree", serif;
  padding: 10px 20px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  color: black;
  margin: 5px auto;
  width: 80%;
  text-align: center;
}

.recipeBtn:hover,
.recipeBtn:focus {
  color: black;
}

.recipeBtn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #00F6FF;
  border-radius: 50% 50% 0 0;
  height: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.recipeBtn:hover:before {
  height: 210%;
}

img {
  display: block;
  width: 100%;
}

h2 {
  font-family: "Maitree", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}
/*# sourceMappingURL=App.css.map */