@import url("https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "Maitree", serif;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.headerText {
  width: 300px;
  height: 300px;
  border: 10px solid #00F6FF;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
}

.heroContainer {
  background-color: #FFFD71;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner {
  padding: 3rem;
  background-color: #00F6FF;
  border-radius: 10px;
  width: 840px;
  height: 560px;
  cursor: pointer;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  -webkit-animation: polygons 6s alternate infinite;
          animation: polygons 6s alternate infinite;
}

@-webkit-keyframes polygons {
  25% {
    -webkit-clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
            clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    background: url("./../../assets/Souffle-Pancake.jpg");
    background-size: cover;
  }
  50% {
    -webkit-clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
            clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    background: url("./../../assets/burger.jpg");
    background-size: cover;
  }
  75% {
    -webkit-clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
            clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    background: url("./../../assets/dessert.jpg");
    background-size: cover;
  }
}

@keyframes polygons {
  25% {
    -webkit-clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
            clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    background: url("./../../assets/Souffle-Pancake.jpg");
    background-size: cover;
  }
  50% {
    -webkit-clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
            clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    background: url("./../../assets/burger.jpg");
    background-size: cover;
  }
  75% {
    -webkit-clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
            clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    background: url("./../../assets/dessert.jpg");
    background-size: cover;
  }
}

h4 {
  text-align: center;
  font: 600 2rem "Montserrat", sans-serif;
}

.authenication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formContainer {
  width: 400px;
  height: 500px;
  border: 2px solid blue;
  padding: 20px;
  margin: 20px auto;
}

.icon {
  width: 20%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=App.css.map */