@import "./sass/setup.scss";
@import "./sass/variablesMixin.scss";
@import "./sass/homePage.scss";
@import "./sass/authenication.scss";
@import "./sass/party.scss";
@import "./sass/footer.scss";
@import "./sass/search.scss";
@import "./sass/recipeheader.scss";
@import "./sass/mediaQuery";
@import "./sass/recipedetails.scss";

img {
  display: block;
  width: 100%;
}

h2 {
  font-family: $styleFont;
}

p {
  font-family: $bodyFont;
}

body {
  font-family: $bodyFont;
}
